/* position middle of page*/

/* css variable */

:root {
    --card-border-radius: 5%;
    --header-font-size: calc(1rem * 2);
    --header-padding: 1rem;
    --primary-color: crimson;
}

body {
    background-image: url(./background-card-game.jpg);
}

/* css variable */

.main-grid {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 20px;
    padding: 5px;
    z-index: 100;
}

/* */

.main-grid {
    display: grid;
    grid-template-columns: repeat(2, calc(128px));
    gap: 16px;
    padding: 16px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--header-font-size);
    font-family: "Lobster", cursive;
    padding: var(--header-padding);
}

.header * {
    color: var(--primary-color);
}

#new-game {
    background: transparent;
    border: none;
    cursor: pointer;
}

.card-wrapper {
    perspective: 500px;
    display: inline-block;
    border-radius: var(--card-border-radius);
}

.card {
    height: 160px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
}

/* anime */

.front {
    background: var(--primary-color);
    border-radius: inherit;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    background: orange;
    transform: rotateY(-180deg);
    border-radius: inherit;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.back,
.front {
    backface-visibility: hidden;
    will-change: transform;
    transition: transform 1400ms;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .card:hover .front,
.card:focus .front {
    transform: rotateY(180deg);
}

.card:hover .back,
.card:focus .back {
    transform: rotateY(0deg);
} */

.image-style {
    border-radius: 5px;
    height: 100%;
}

.clickedCardFront {
    transform: rotateY(180deg);
}

.clickedCardBack {
    transform: rotateY(0);
}

.make-unclickable{
    pointer-events: none;
}
